@use "../common/variables" as *;

.filters-form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 14px;
  color: #484848;

  &__select-wrapper {
    position: relative;
    width: 264px;
  }

  &__select-input {
    height: 46px;
  }

  &__custom-select {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    background-color: $color-white;
    border: 1px solid #d0d0d0;
  }

  &__custom-select-list {
    display: none;
    flex-direction: column;
    padding: 8px 0 12px;
  }

  &__custom-select-button-selected {
    position: relative;
    background-color: transparent;
    padding: 12px 35px 12px 17px;
    height: 46px;
    text-align: start;
    cursor: pointer;
    border: none;

    &::before {
      content: none;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      display: block;
      width: calc(100% - 34px);
      height: 1px;
      background-color: #d0d0d0;
    }
  }

  &__custom-select.is-opened {
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.15);
    z-index: 5;

    .filters-form__custom-select-button-selected {
      &::before {
        content: "";
      }
    }

    .filters-form__custom-select-list {
      display: flex;
    }
  }

  &__custom-select-button-icon {
    position: absolute;
    right: 18px;
    top: 20px;
    color: #666666;
    width: 11px;
    height: 8px;
    cursor: pointer;

    svg {
      display: block;
      width: 100%;
      height: 100%;
    }
  }

  &__custom-select-button {
    background-color: transparent;
    padding: 5px 17px;
    border: none;
    text-align: start;
    cursor: pointer;
    transition: background-color 0.3s;
    outline: none;

    &:hover,
    &:focus {
      background-color: #e8eeff;
    }
  }

  &__custom-select-button.is-hidden {
    display: none;
  }

  &__price {
    display: flex;
    align-items: center;
    margin-left: 13px;
  }

  &__price-text {
    text-transform: uppercase;
  }

  &__price-container {
    display: flex;
    margin: 0 9px 0 14px;
  }

  &__price-wrapper {
    position: relative;
    width: 133px;

    &:last-child {
      margin-left: -1px;
    }
  }

  &__price-label {
    position: absolute;
    left: 11px;
    top: 50%;
    transform: translateY(-50%);
    text-transform: lowercase;
  }

  &__price-input {
    padding: 12px 10px 12px 35px;
    text-align: end;
    outline: none;

    &:focus {
      background-color: #e8eeff;
    }

    &::placeholder {
      font-weight: 700;
      color: #484848;
    }
  }

  &__submit-button {
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 14px 0 13px;
    border: none;
    border-radius: 1px;
    background-color: #ff3d3d;
    color: $color-white;
    text-transform: uppercase;
    font-family: "PTSans", "Arial", sans-serif;
    font-size: 16px;
    line-height: 21px;
    font-weight: 700;
    cursor: pointer;
    transition: background-color 0.3s;
    outline: none;

    &:hover,
    &:focus {
      background-color: #ce2929;
    }
  }

  @media (max-width: 1024px) {
    gap: 19px;
    padding: 22px 18px 20px;

    &__select-wrapper {
      width: 100%;
    }

    &__select-input {
      height: 48px;
    }

    &__custom-select-button-selected {
      padding: 12px 27px 12px 10px;
      height: 48px;
    }

    &__custom-select-button-icon {
      right: 10px;
    }

    &__price-text {
      display: none;
    }

    &__price {
      width: 100%;
      margin-left: 0;
    }

    &__price-container {
      width: 100%;
      flex-direction: column;
      gap: 19px;
      margin: 0;
    }

    &__price-wrapper {
      width: 100%;

      &:last-child {
        margin-left: 0;
      }
    }

    &__price-input {
      padding: 13px 10px 12px 35px;
    }

    &__submit-button {
      display: flex;
    }
  }
}

.filters-form__price-input::-webkit-outer-spin-button,
.filters-form__price-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.filters-form__price-input,
.filters-form__price-input:hover,
.filters-form__price-input:focus {
  appearance: none;
  -moz-appearance: textfield;
}
